In [38]:
# coding=utf-8
# Título: Realizar limpieza de la dirección catastral de Bogotá con Python, Arcpy y VStudio Code
# Requerimientos: ArcGIS Pro, Python 3x
# Librerías: arcpy, time, os
# Autor: Equipo SIG / DATA | ACTED - REACH
# Fecha: 2025-03-21

### Importar librerías

In [39]:
import pandas as pd

### Cargar el archivo y crear dataframe

In [41]:
# Ruta archivo
archivo = r"D:\ACTED\IMPACT COL - General\5_GIS\2_Projects\2025_XXX_ECHO\ABA\BOG-BELLAFLOR\2_workspace\catastro\bellaflor_sur_catastro_dir_20250321.csv"

# Leer archivo
df = pd.read_csv(archivo,delimiter=';')

print("Dataframe creado!")

# Guardar archivo
#df.to_csv(r"D:\ACTED\IMPACT COL - General\5_GIS\2_Projects\2025_XXX_ECHO\ABA\BOG-BELLAFLOR\2_workspace\catastro\bellaflor_sur_catastro_dir_20250321.csv", index = False)

Dataframe creado!

### Revisar el dataframe creado

In [42]:
# Revisar
df.head(3)

,OBJECTID,LotCodigo,LotCodMzn,id,longitud,latitud,PreDirecc
0,1,2580022019,2580022,7,"-74,160964950999983","4,546422568000025",KR 27B 72D 20 SUR MJ
1,2,2580068018,2580068,1068,"-74,160459671999945","4,543975258000046",CL 73C BIS A SUR 26F 03 MJ
2,3,2580012009,2580012,1144,"-74,162226311999973","4,544696038000041",CL 73D BIS B SUR 27B 31

### Limpiar columnas de interés

In [45]:
# Limpiar columnas
#df = df.drop(['OBJECTID'],axis=1)
#print(f'Después:\n {df.columns}')
df.head(5)

,LotCodigo,LotCodMzn,id,longitud,latitud,PreDirecc
0,2580022019,2580022,7,"-74,160964950999983","4,546422568000025",KR 27B 72D 20 SUR MJ
1,2580068018,2580068,1068,"-74,160459671999945","4,543975258000046",CL 73C BIS A SUR 26F 03 MJ
2,2580012009,2580012,1144,"-74,162226311999973","4,544696038000041",CL 73D BIS B SUR 27B 31
3,2580012004,2580012,1147,"-74,162241627999947","4,544575396000027",CL 74 SUR 27B 24
4,2580012008,2580012,1148,"-74,162285076999979","4,544728080000027",CL 73D BIS B SUR 27B 37

### Crear campo para contar espacios en cada fila

In [46]:
# Crea un nuevo campo que cuente el número de espacios en cada fila del campo PreDirecc
df['num_espacios'] = df['PreDirecc'].str.count(' ') + 1
df.head(5)

,LotCodigo,LotCodMzn,id,longitud,latitud,PreDirecc,num_espacios
0,2580022019,2580022,7,"-74,160964950999983","4,546422568000025",KR 27B 72D 20 SUR MJ,6
1,2580068018,2580068,1068,"-74,160459671999945","4,543975258000046",CL 73C BIS A SUR 26F 03 MJ,8
2,2580012009,2580012,1144,"-74,162226311999973","4,544696038000041",CL 73D BIS B SUR 27B 31,7
3,2580012004,2580012,1147,"-74,162241627999947","4,544575396000027",CL 74 SUR 27B 24,5
4,2580012008,2580012,1148,"-74,162285076999979","4,544728080000027",CL 73D BIS B SUR 27B 37,7

### Crear campos a partir del número de espacios

In [47]:
# Crea una lista de campos dir_ nuevos con el mismo número de elementos que el valor de n
max_n = df['num_espacios'].max()
dirs_cols = [f'dir_{i+1}' for i in range(max_n)]

print(f"Número de campos: {max_n}")
print(f"Campos creados: {dirs_cols}")

Número de campos: 11
Campos creados: ['dir_1', 'dir_2', 'dir_3', 'dir_4', 'dir_5', 'dir_6', 'dir_7', 'dir_8', 'dir_9', 'dir_10', 'dir_11']

### Aplicar la función para separar y crear campos por espacio " "

In [48]:
# Utiliza la función apply para aplicar la función str.split a cada fila del campo PreDirecc
df[dirs_cols] = df.apply(lambda row: pd.Series(row['PreDirecc'].split(' ', row['num_espacios'])), axis=1)
df.head(5)

,LotCodigo,LotCodMzn,id,longitud,latitud,PreDirecc,num_espacios,dir_1,dir_2,dir_3,dir_4,dir_5,dir_6,dir_7,dir_8,dir_9,dir_10,dir_11
0,2580022019,2580022,7,"-74,160964950999983","4,546422568000025",KR 27B 72D 20 SUR MJ,6,KR,27B,72D,20,SUR,MJ,NaN,NaN,NaN,NaN,NaN
1,2580068018,2580068,1068,"-74,160459671999945","4,543975258000046",CL 73C BIS A SUR 26F 03 MJ,8,CL,73C,BIS,A,SUR,26F,03,MJ,NaN,NaN,NaN
2,2580012009,2580012,1144,"-74,162226311999973","4,544696038000041",CL 73D BIS B SUR 27B 31,7,CL,73D,BIS,B,SUR,27B,31,NaN,NaN,NaN,NaN
3,2580012004,2580012,1147,"-74,162241627999947","4,544575396000027",CL 74 SUR 27B 24,5,CL,74,SUR,27B,24,NaN,NaN,NaN,NaN,NaN,NaN
4,2580012008,2580012,1148,"-74,162285076999979","4,544728080000027",CL 73D BIS B SUR 27B 37,7,CL,73D,BIS,B,SUR,27B,37,NaN,NaN,NaN,NaN

### Función para describir variables y frecuencia de valores

In [49]:
columna_excluir = ['LotCodigo', 'LotCodMzn', 'id', 'longitud', 'latitud','PreDirecc','num_espacios']

# f. Describir contenido de celdas
def mostrar_contenido(data):
    """
    Función que enseña el contenido de cada celda y columna en el df
    """
    for column in data.columns:
        if column not in columna_excluir:
            unique_values = data[column].unique()
            unique_values = sorted(unique_values, key=lambda x: str(x) or '')  # Ordenar los valores alfabéticamente incluyendo nulos o valores en blanco
            print(f"Valores únicos de la columna {column.upper()} | Total = {len(unique_values)} \n{unique_values}\n")
            print(f"Valores únicos y su frecuencia:\n{data[column].value_counts()}\n")
        else:
            print(f"Columna excluida: {column}")

mostrar_contenido(df)

Columna excluida: LotCodigo
Columna excluida: LotCodMzn
Columna excluida: id
Columna excluida: longitud
Columna excluida: latitud
Columna excluida: PreDirecc
Columna excluida: num_espacios
Valores únicos de la columna DIR_1 | Total = 5
['CL', 'DG', 'KR', 'PTLT', 'TV']

Valores únicos y su frecuencia:
dir_1
KR      789
CL      606
DG       97
TV       62
PTLT      1
Name: count, dtype: int64

Valores únicos de la columna DIR_2 | Total = 53
['18R', '19D', '20A', '23A', '24', '26', '26A', '26BIS', '26BISB', '26C', '26D', '26F', '26G', '27', '27A', '27B', '27C', '27F', '27G', '27H', '46', '69L', '7', '70', '70A', '70D', '70DBIS', '70F', '70G', '70I', '70X', '71A', '72', '72C', '72D', '72F', '72G', '72H', '72I', '72J', '73', '73A', '73B', '73C', '73D', '74', '74A', '74B', '74C', '75', '76B', '77', '78']

Valores únicos y su frecuencia:
dir_2
26        169
27        160
26A       134
73C       126
73D       111
73         78
73A        68
27B        68
27A        66
73B        64
26C        62
27H        38
27G        32
70I        30
26F        25
72C        25
26G        25
72G        23
27F        22
74B        20
74         19
74A        19
23A        18
26D        15
72H        15
70D        15
77         13
72F        12
72D        12
70F         9
70G         7
26BIS       5
71A         5
72I         5
18R         5
76B         4
72J         4
70A         3
74C         3
78          3
72          3
24          2
75          2
70DBIS      2
7           1
26BISB      1
20A         1
46          1
70          1
19D         1
27C         1
69L         1
70X         1
Name: count, dtype: int64

Valores únicos de la columna DIR_3 | Total = 53
['', '26G', '69L', '69N', '69P', '69Q', '69R', '70', '70C', '70D', '70F', '70L', '70M', '70N', '71', '71A', '71G', '71H', '71J', '71L', '71M', '71N', '71P', '72', '72C', '72D', '72F', '72G', '72H', '72I', '73', '73A', '73B', '73C', '73D', '74', '74A', '74B', '74C', '75', '75C', '75J', '76', '76B', '77', 'A', 'BIS', 'C', 'D', 'EL', 'G', 'S', 'SUR']

Valores únicos y su frecuencia:
dir_3
BIS    516
SUR    487
73D     79
72D     45
76      45
73      36
70F     36
72C     36
72G     35
76B     30
73B     24
73A     19
73C     19
74      18
A       14
72H     13
74C      9
72I      7
71H      6
71M      6
70       6
71J      6
S        5
70D      4
71       4
70C      4
71P      4
70M      4
72F      4
75C      3
75       2
71N      2
70N      2
D        2
74B      2
C        2
71L      2
69P      2
74A      1
EL       1
72       1
71A      1
69R      1
         1
70L      1
G        1
75J      1
69Q      1
69L      1
77       1
69N      1
71G      1
26G      1
Name: count, dtype: int64

Valores únicos de la columna DIR_4 | Total = 127
['', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '23A', '24', '25', '25A', '26', '26A', '26C', '26D', '26F', '26G', '27', '27A', '27B', '27C', '27F', '27G', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '59S', '60', '60S', '61', '61SUR', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '71A', '72', '72C', '72G', '72I', '73', '74', '74C', '75', '76', '76B', '77', '78', '79', '80', '81', '82', '83', '84', '86', '87', '88', '90', '91', '92', '94', '95', '96', '98', '99', 'A', 'B', 'BIS', 'C', 'F', 'M', 'N', 'PUERTO', 'S', 'SUR']

Valores únicos y su frecuencia:
dir_4
       292
A      143
27B    120
26C     85
26F     70
      ...
90       1
71       1
79       1
91       1
80       1
Name: count, Length: 127, dtype: int64

Valores únicos de la columna DIR_5 | Total = 128
['', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '23A', '24', '25', '26', '26F', '27', '27A', '27B', '27G', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '70F', '70G', '70M', '71', '71A', '71M', '72', '72C', '72D', '72F', '72G', '72H', '72I', '72J', '73', '73B', '73C', '73D', '74', '75', '75A', '75C', '76', '76B', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '90', '91', '92', '94', '95', '96', '97', '99', 'A', 'B', 'C', 'IN', 'MJ', 'S', 'SRTA.TERESITA', 'SUR']

Valores únicos y su frecuencia:
dir_5
SUR    702
76      58
73      46
76B     38
72G     27
      ...
97       1
27G      1
52       1
27A      1
73C      1
Name: count, Length: 128, dtype: int64

Valores únicos de la columna DIR_6 | Total = 100
['', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '1SUR', '20', '21', '22', '23', '23A', '24', '25', '26', '26C', '26D', '26F', '26G', '27', '27A', '27B', '27C', '27F', '27G', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '55', '56', '57', '58', '60', '61', '62', '64', '65', '68', '69', '70', '72', '73', '75', '76', '78', '79', '81', '82', '83', '86', '87', '88', '90', '92', '94', 'A', 'C', 'F', 'IN', 'M', 'MJ', 'S', 'SUR', nan]

Valores únicos y su frecuencia:
dir_6
MJ     359
27B     74
27      34
IN      30
SUR     18
      ...
90       1
88       1
01       1
50       1
70       1
Name: count, Length: 99, dtype: int64

Valores únicos de la columna DIR_7 | Total = 98
['', '001', '01', '02', '03', '04', '05', '06', '07', '08', '09', '1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '20', '21', '22', '24', '25', '26', '27', '28', '29', '3', '30', '31', '32', '33', '34', '36', '37', '38', '39', '4', '40', '42', '43', '45', '46', '48', '49', '5', '50', '51', '52', '53', '54', '55', '57', '58', '6', '61', '62', '63', '65', '66', '67', '68', '69', '70', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '83', '84', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '98', '99', 'B', 'MJ', 'S', 'SUR', nan]

Valores únicos y su frecuencia:
dir_7
SUR    293
1       37
MJ      30
06       7
03       7
      ...
65       1
67       1
55       1
43       1
89       1
Name: count, Length: 97, dtype: int64

Valores únicos de la columna DIR_8 | Total = 10
['', '1', '85', 'B', 'C', 'MJ', 'MJ1', 'S', 'SUR', nan]

Valores únicos y su frecuencia:
dir_8
MJ     222
SUR      7
S        6
         3
85       1
C        1
MJ1      1
B        1
1        1
Name: count, dtype: int64

Valores únicos de la columna DIR_9 | Total = 7
['', '1', '2', '67', '76', 'MJ', nan]

Valores únicos y su frecuencia:
dir_9
1     16
MJ    13
       3
2      1
76     1
67     1
Name: count, dtype: int64

Valores únicos de la columna DIR_10 | Total = 3
['1', 'MJ', nan]

Valores únicos y su frecuencia:
dir_10
MJ    5
1     1
Name: count, dtype: int64

Valores únicos de la columna DIR_11 | Total = 2
['1', nan]

Valores únicos y su frecuencia:
dir_11
1    1
Name: count, dtype: int64